<div class="container">
    <div class="signup-form mt-5 rounded">
        <h1>User Profile</h1>
        <div class="row">
            <div class="col-md-6">
                <label class="form-label text-secondary w-100">Name</label>
                <label class="form-label fw-bold">{{user?.name}}</label>
            </div>
            <div class="col-md-6">
                <label class="form-label text-secondary w-100">Email</label>
                <label class="form-label fw-bold">{{user?.email}}</label>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <label class="form-label text-secondary w-100">Contact no.</label>
                <label class="form-label fw-bold">+91 {{user?.contact}}</label>
            </div>
            <div class="col-md-6">
                <label class="form-label text-secondary w-100">City</label>
                <label class="form-label fw-bold">{{user?.city}}</label>
            </div>
        </div>
    </div>
</div>